@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Merienda+One&family=Mochiy+Pop+One&family=Niconne&family=Pacifico&family=Poppins&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Comfortaa&family=Cookie&family=Courgette&family=Kaushan+Script&family=Libre+Baskerville&family=Merriweather&family=Pacifico&family=Playball&family=Satisfy&family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #FFFFFF !important;
}

.logo{
    color: #0c2b3c;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Niconne', cursive;
}

.logo-img{
    width: 48px !important;
    height: 44px !important;
}

.navbar-welcome{
    background-color: #f3f4f6 !important;
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border-color: #ced8d9 !important;
    border-width: 10px !important;
    box-shadow: rgba(6, 24, 44, 0.1) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.btn-one{
    background-color: #0c2b3c  !important;
    color: #eeeeee !important;
}

.navbar-toggler{
    background-color: #0c2b3c;
}

.nav-user{
    color: #FFFFFF !important;
    font-weight: bolder;
}

.dropdown-menu{
    background-color: #eeeeee !important;
    font-weight: bold;
    border-radius: 10px !important;
}

.dropdown-menu a:hover{
    background-color: #0c2b3c !important;
    color: #FFFFFF !important;
}

.card-home{
    background-image: url('../img/tasse-cafe-fait-dans-tasse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    min-height: 380px;
    
}

.home-text{
    font-family: 'Poppins', sans-serif;
    color: #1f202b !important;
}

.home-textone{
    font-family: 'Kaushan Script', cursive;
    font-family: 'Cookie', cursive;
    font-size: 68px !important;
}

.home-subtext{
    font-family: 'Playball', cursive;
}

.card-menu{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: #f3f4f6 !important;
    border-radius: 15px !important;
}

.footer-one{
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.footer-two{
    background-color: #ced8d9;
    color: #0c2b3c !important;
}

.footer-two a{
    color: #0c2b3c !important;
}

.btn-footer, .card-menu{
    color: #0c2b3c !important;
}

.btn-menu {
    background-color: #0c2b3c !important;
    color: #eeeeee !important;
}

